.cola{  
    padding: 20px;
    padding-right: 30px;   
}

.polaroid img {
    width: 100%;
    height: auto;
  
  }
  .rowz {
    background-color: aliceblue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    width: 70%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.col{
    
    padding-left: 10px;
   
    
}
#title{
    margin-top: 25px;
}
  